* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* GROUP 1 */
.inner-wrapper {
  border: 1px solid black;
  background-color: #f3f3f3;
  width: 100%;
  height: 100%;
}

li {
  float: right;
  width: 20%;
  height: 80px;
  display: block;
  padding-left: 20px;
}

header {
  overflow: hidden;
}

.logo {
  width: 20%;
  height: 100px;
  background-color: #d2d2d2;
  border: 1px solid #000000;
  float: left;
}

.nav-container {
  width: 70%;
  float: right;
  padding: 10px;
}

.nav-links {
  width: 100%;
  float: right;
}

/* GROUP 2 */
aside {
  width: 20%;
  height: 740px;
  float: left;
  padding: 20px 20px 20px 0;
}
section {
  width: 80%;
  height: 740px;
  float: right;
  padding: 20px 0;
}
footer {
  clear: both;
  height: 100px;
}
/* GROUP 3 */

#section2 {
  height: 100%;
  width: 25%;
  float: left;
}

.left {
  float: left;
  padding-right: 10px;
}

.right {
  float: right;
  padding-left: 10px;
}

.center {
  padding-left: 10px;
  padding-right: 10px;
}

.toprow {
 height: 100px;
}

.middle-row {
  height: 420px;
}

.bottom-row {
  height: 200px;
}

.middle-row-aside {
  height: 420px;
  padding-bottom: 0;
}
.middle-row-section {
  height: 420px;
  padding-bottom: 0;
}
